.story{
  border-radius: 5px;
  border: black solid;
  margin-bottom: 5px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Helvetica Neue';
}

.list{
  background-color: rgba(97, 192, 255, 0.3);
}

.headerContainer{
  width: 100%;
  position: fixed;        
  background: #333;
  color: #fff;
  padding: 0px;
  margin-top: 0px;
}

.header{
  font-size: 30px;
  font-family: 'Helvetica Neue';
}


